<nav>
    <div class="site-title">
        <a href="/"><h1>250Foodies</h1></a>
    </div>
    <ul>
        <li><a href="/">Recipes</a></li>
        <li><a href="/blogs/create">Create Recipe</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</nav>