<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="not-found content">
            <h3>Ooops, Page Not Found :)</h3>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>