<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2 style="color: brown;text-decoration: underline;">ABOUT US</h2>
            <div style="font-family: Sans-serif ;background-color:rgb(248,249,250);padding:18px;color:black"><br>
                <h2 style="font-family: Sans-serif ;text-align: center;">Welcome To <span id="W_Name1" >FoodieCrush</span></h2>
                <p><span id="W_Name2">FoodieCrush</span> is a community <span id="W_Type1">recipe blog</span>. Here we will provide you with interesting content that you will enjoy very much. We are committed to providing you the space to share the best of your <span id="W_Type2">recipe</span>, that others can enjoy. we strive to turn our passion for <span id="W_Type3">this recipe blog</span> into a thriving website. We hope you enjoy our <span id="W_Type4">recipe blog</span> as much as possible.</p><br><br>
                
                <p>Keep on posting such valuable and knowledgeable recipe information on this blog for everyone.</p><br><br>
                <p style="font-weight: bold; text-align: center;">Thank you For Visiting Our Blog<br><br>
                <span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a great day !</span></p></div><br><br>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>