<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="create-blog content">
            <h2 style="color: black;text-decoration: none;">CREATE NEW RECIPE</h2>
            <form action="/blogs" method="POST">
                <label for="title">Recipe Title:</label>
                <input type="text" id="title" name="title" required>
                <label for="snippet">Recipe Snippet:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="body">Recipe Contents:</label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>